.kort{
    flex: 1 1 200px;
    padding: 1rem;
    background-color: #43945c;
    border: 1px solid #557aab;
    color: #0f172a;
    font-family: sans-serif;
}
.kort img{
    max-width: 100%;
    height: auto;
}
.kort-rad{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
